.parentClass {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  align-items: center;
}
.childClass {
  padding: 10px;
}

.imgStyle {
  height: 500px;
  width: 500px;
  margin-bottom: 20px;
}
.centerDiv {
  display: flex;
  justify-content: center;
}
.flexClassY {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerClass {
  font-size: 22px;
}
