<div class="container">
  <div class="parentClass">
    <div class="childClass">
      <form class="cardTemplate flexClassY">
        <label for="exampleInputEmail1" class="form-label labelClass"
          >Email address</label
        >
        <input
          type="email"
          class="form-control mb-3"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />

        <button
          routerLink="/home"
          routerLinkActive="active"
          type="submit"
          class="btn btn-primary buttonLogin"
        >
          Login
        </button>
      </form>
    </div>
  </div>

  <!-- Content here -->
</div>
