.parentClass {
  display: flex;
  padding-top: 10%;
  justify-content: center;
}
.childClass {
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
}
.cardTemplate {
  height: 300px;
  width: 300px;
}
.labelClass {
  font-size: 22px;
}
.buttonLogin {
  justify-self: flex-end;
}
.flexClassY {
  display: flex;
  flex-direction: column;
}
