<div class="container">
  <div class="parentClass">
    <div class="childClass">
      <form
        #myform="ngForm"
        (ngSubmit)="register(myform)"
        class="form form-register"
        class="cardTemplate flexClassY"
      >
        <img class="logoStyle" src="../../assets/BGT.png" alt="" />

        <input
          name="email"
          ngModel
          type="email"
          class="form-control mb-3"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter your HealthEdge Email address"
        />

        <button
          type="submit"
          [disabled]="submitDisable ? true : false"
          class="btn btn-primary buttonLogin"
        >
          Login
        </button>
        <div>
          <p class="warningMessage text-center">{{ validationmessage }}</p>
        </div>
      </form>
    </div>
  </div>

  <!-- Content here -->
</div>
