.parentClass {
  display: flex;
  padding-top: 10%;
  justify-content: center;
}
.childClass {
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
}
.cardTemplate {
  height: 450px;
  width: 400px;
}
.labelClass {
  font-size: 22px;
}
.buttonLogin {
  justify-self: flex-end;
}
.flexClassY {
  display: flex;
  flex-direction: column;
}
.warningMessage {
  margin-top: 20px;
  font-size: 22px;
  color: red;
}
.logoStyle {
  height: 250px;
  width: 250px;
  align-self: center;
}
